<!DOCTYPE html>
<html>
	<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html>
	<head>
		<title><%= title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="css/easyui.css">
		<link rel="stylesheet" type="text/css" href="css/icons.css">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div id="global" class="easyui-layout">
			<div id="treerule" data-options="region:'west'" title="规则树">
				<div class="easyui-panel">
					<ul id="tt" class="easyui-tree" ></ul>
					<div id="mm" class="easyui-menu">
						<div data-options="iconCls:'icon-add'">							
							<span>同一级增加</span>
							<div class="contextmenu_bar">								
									<div id="append_slingber_class">类别</div>
									<div id="append_slingber">规则</div>																
							</div>
						</div>
						<div data-options="iconCls:'icon-add'">							
							<span>下一级增加</span>
							<div class="contextmenu_bar">
								<div id="append_class">类别</div>
								<div id="append">规则</div>								
							</div>
						</div>
						<div id="removeit" data-options="iconCls:'icon-remove'">移除</div>
						<div class="menu-sep"></div>
						<div id="expand">展开</div>
						<div id="collapse">收缩</div>
					</div>
				</div>
			</div>
			<div data-options="region:'center'" title="">
				<div class="easyui-layout" data-options="fit:true">
					<div data-options="region:'north',fit:true" id="number_content">
						<div id="blockpanel" style="width: 100%;" class="easyui-panel" title="规则制定" data-options="closable:false,tools:'#tt1',toolPosition:'left'">
							<div id="tt1">
								<a href="javascript:void(0)" title="增加一段" class="icon-add easyui-tooltip" id="add_btn"></a>
								<a href="javascript:void(0)" title="删除尾段" class="icon-remove easyui-tooltip" id="delete_btn"></a>
							</div>
							<div id="numberblock" class="clearfix"></div>
						</div>
					</div>
					<div id="tableregion" data-options="region:'south'" split="true" border="true">
						<div id="table_tab" class="easyui-tabs"></div>					
					</div>										
				</div>
			</div>				
		</div>
		<script language="javascript" type="text/javascript" src="js/jquery.js"></script>
		<script language="javascript" type="text/javascript" src="js/easyui.js"></script>
		<script language="javascript" type="text/javascript" src="js/numberblock.js"></script>
		<script language="javascript" type="text/javascript" src="js/tabnumber.js"></script>
		<script language="javascript" type="text/javascript" src="js/tabs.js"></script>
		<script language="javascript" type="text/javascript" src="js/tree.js"></script>
		<script language="javascript" type="text/javascript" src="js/init.js" ></script>
	</body>
	</html>